a {
  color: #00B7FF;
}

#main_map{
  height: 500px;
}
input{
  border-radius: 8px;
}
label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(6, 122, 168);
 
}
form{
  border: #00B7FF solid 2px;
  display: table;
}

form.inline{
  border: none;
}
