extends ../layout

block content
    a(href= '/bicicletas') Volver
    
    br
    br
    br

    h1.px-3 Nueva Bicicleta

    br
    br

    form.px-5(action='/bicicletas/create' method='post')
        label(for='id') ID:
        input.mx-2.my-2#id(type='text' name='id' placeholder='Introduzca id')
        br
        label(for='color') Color:
        input.mx-2.my-2#color(type='text' name='color' placeholder='Introduzca Color')
        br
        label(for='modelo') Modelo:
        input.mx-2.my-2#modelo(type='text' name='modelo' placeholder='Introduzca Modelo')
        br
        label(for='lat') Latitud:
        input.mx-2.my-2#modelo(type='text' name='lat' placeholder='Introduzca Latitud')
        br
        label(for='lng') Longitud:
        input.mx-2.my-2#modelo(type='text' name='lng' placeholder='Introduzca Longitud')
        br
        br
        input.btn.btn-primary.my-5(type='submit' value='OK')

