extends ../layout

block content
    a(href= '/bicicletas') Volver
    
    br
    br
    br

    h1.px-3 Actualizando Bicicleta

    br
    br

    form.px-5(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='id') ID:
        input.mx-2.my-2#id(type='text' name='id' value=bici.id)
        br
        label(for='color') Color:
        input.mx-2.my-2#color(type='text' name='color' placeholder='Introduzca Color' value=bici.color)
        br
        label(for='modelo') Modelo:
        input.mx-2.my-2#modelo(type='text' name='modelo' placeholder='Introduzca Modelo' value=bici.modelo)
        br
        label(for='lat') Latitud:
        input.mx-2.my-2#modelo(type='text' name='lat' placeholder='Introduzca Latitud' value=bici.ubicacion[0])
        br
        label(for='lng') Longitud:
        input.mx-2.my-2#modelo(type='text' name='lng' placeholder='Introduzca Longitud' value=bici.ubicacion[1])
        br
        br
        input.btn.btn-primary.my-5(type='submit' value='OK')

